.header-container {
  display: flex;
  align-items: center;
}

.header {
  padding: 32px 0;
}

.header-title {
  color: var(--title-color);
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 1.76px;
  text-transform: uppercase;
}

.header-navigation {
  margin-left: auto;
}

.header-list {
  display: flex;
  gap: 32px;
}

.header-autorizations {
  display: flex;
  margin-left: 271px;
  margin-right: 100px;
}

.header-link {
  color: var(--title-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.header-login,
.header-reg {
  color: var(--title-color);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.header-menu {
  color: var(--title-color);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.8px;
  text-transform: capitalize;
}

.hero-text {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.hero-title {
  color: var(--accent-color);
  font-size: 90px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 3.6px;
  text-transform: capitalize;
}

.hero-info {
  color: var(--text-color);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.hero-button {
  color: var(--dacground-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.hero-pages {
  color: var(--decor-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

/* about */

.hero {
  padding-bottom: 147px;
}

.hero-wraper {
  display: flex;
  gap: 180px;
}

.hero-box {
  padding-top: 175px;
  padding-bottom: 127px;
}

.hero-text {
  margin-bottom: 8px;
}

.hero-title {
  margin-top: 8px;
}

.hero-info {
  margin: 32px 0px;
}

.hero-pages {
  text-align: center;
  margin-top: 64px;
}

.hero-button {
  background: var(--DCCA87, #dcca87);
  padding: 8px 32px;
}

.about {
  padding-top: 120px;
  padding-bottom: 136px;
}

.about-container {
  display: flex;
}

.about-left,
.about-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 523px;
}

.about-left {
  align-items: flex-end;
  text-align: right;
  margin-right: 76px;
}

.about-right {
  align-items: flex-start;
  text-align: left;
  margin-left: 96px;
}

.about-title {
  color: var(--accent-color);
  text-align: right;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.about-image {
  display: block;
  margin-bottom: 32px;
}

.about-left .about-image {
  transform: rotate(180deg);
}

.about-text {
  color: var(--text-color);
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  letter-spacing: 0.64px;
  margin-bottom: 32px;
}

.about-button {
  background: var(--accent-color);
  color: var(--dacground-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  width: 141px;
  height: 44px;
}

/*book*/

.book {
  padding-bottom: 200px;
  padding-top: 205px;
}

.book-img {
  position: absolute;
  top: 0;
  right: 0;
}

.book {
  position: relative;
}

.book-spoon {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  margin-top: 8px;
  display: block;
}

.book-reserv {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  text-align: center;
}

.book-title {
  color: var(--accent-color);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
  margin-bottom: 64px;
}

.book-option {
  color: var(--text-color);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 16px;
  font-weight: 600;
  line-height: 175%;
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

.book-but {
  background-color: var(--accent-color);
  color: #0c0c0c;
  font-size: 16px;
  font-weight: 700;
  line-height: 175%;
  letter-spacing: 0.64px;
  display: flex;
  padding: 8px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 64px;
  margin-left: auto;
  margin-right: auto;
}

.book-list {
  display: flex;
  gap: 32px;
}

.book-select {
  width: 412px;
  height: 60px;
  background-color: transparent;
  color: var(--AAAAAA, #aaa);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;

  /* H6 16px Cormorant Upright */
  font-family: Cormorant Upright;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.75;
  /* 28px */
  letter-spacing: 0.64px;
  text-transform: capitalize;
}

/*menu*/

.menu {
  padding-top: 293px;
  padding-bottom: 262px;
  position: relative;
  background-image: url(../../img/menu-background.png);
}

.menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 64px;
}

.menu-logo {
  position: absolute;
  top: 0;
  left: 0;
}

.menu-link {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.menu-item:first-child a {
  text-decoration-line: underline;
}

.special {
  padding-top: 152px;
}

.special-text {
  color: var(--title-color);
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.special-soon {
  margin-bottom: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.special-title {
  color: var(--accent-color);
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 2.56px;
  text-transform: capitalize;
}

.specialsub-title {
  color: var(--title-color);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 45px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.8px;
  text-transform: capitalize;
}

.special-drink {
  color: var(--accent-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.special-price {
  color: var(--title-color);
  text-align: center;
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.special-descripton {
  color: var(--text-color);
  text-align: center;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

/* chef */
.chef-word {
  color: var(--title-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 23px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: 0.92px;
  text-transform: capitalize;
}

.chef-title {
  color: var(--accent-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 1.92px;
  text-transform: capitalize;
}

.chef-text {
  color: var(--text-color);
  font-family: Open Sans;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.chef-name {
  color: var(--accent-color);
  font-variant-numeric: lining-nums tabular-nums;
  font-size: 32px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 1.28px;
  text-transform: capitalize;
}

.chef-position {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 0.64px;
}
